.container {
    background-color: var(--background-secondary-color);
    border-radius: 8px;
    padding: 15px 0;
    margin: 20px 0;
}

.row,
label.image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px 0;
}

.col,
button {
    flex: 1;
    margin: 0 20px;
}

label {
    font-size: 14px;
}

input,
select,
textarea {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s, box-shadow 0.3s;
}

select {
    cursor: pointer;
}

textarea {
    height: 50px;
}

select,
input::placeholder,
textarea::placeholder {
    color: #A6A6A6;
}

#main .ProductInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#main label,
form .col {
    display: flex;
}

#main input,
#main select,
#main button {
    margin-bottom: 10px;
}

#main .required {
    color: var(--danger-color);
}

button {
    width: 100%;
    padding: 5px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


form p {
    color: var(--info-color);
}

button:hover {
    background-color: #0056b3;
}

a.edit,
a.delete {
    text-decoration: none;
}

.edit a {
    color: var(--info-color);
}

.delete {
    color: var(--danger-color);
}

.Costumize {
    padding: 5px 0;
}

@media only screen and (max-width: 768px) {
    #main .ProductInput,
    #main .col {
        display: block;
    }

    input,
    select,
    textarea {
        padding: 10px 0px;
        padding-left: 5px;
    }
}