.ProductFilterSorter {
    display: flex;
    justify-content: space-between;
}

.ProductFilter,
.ProductSorter,
.ProductManager {
    display: flex;
}

.ProductFilter p,
.ProductFilter i,
.ProductSorter p,
.ProductManager a {
    margin: 5px;
    padding: 5px 30px;
    border-radius: 8px;
    background-color: var(--background-secondary-color);
    cursor: pointer;
}

.ProductListView {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 5px;
}

th {
    background-color: var(--background-secondary-color);
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td.image {
    width: 100px;
}

td.action {
    text-align: center;
}

a {
    color: blue;
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination p {
    color: var(--paragraph-color);
}

.action {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding: 5px 10px;
    border: 1px solid var(--disable-color);
    border-radius: 8px;
}

.action i {
    padding: 0 5px;
    color: var(--disable-color);
}

@media (max-width: 768px) {

    .ProductFilter p,
    .ProductFilter i,
    .ProductSorter p,
    .ProductManager a {
        font-size: 12px;
        white-space: nowrap;
    }

    .ProductFilterSorter {
        flex-direction: column;
    }

    table {
        overflow-x: auto;
        white-space: nowrap;
    }

    th,
    td {
        display: flex;
        width: 90%;
        padding: 8px;
        text-align: left;
        align-items: center;
    }

    th {
        display: none;
        background-color: var(--background-secondary-color);
        border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    td.image {
        width: 100px;
        grid-column: 1 / 2;
    }

    td.action {
        text-align: center;
        grid-column: 2 / 3;
    }

    td[data-label]:before {
        content: attr(data-label) ": ";
        margin-right: 5px;
    }

}

@media (max-width: 425px) {
    .ProductFilter i {
        display: none;
    }

    tr {
        display: block;
    }
}