:root {
    --primary-color: ;
    --secondary-color: ;

    --background-color: #EFEBE9;
    --background-secondary-color: #FFF;

    --block-color: #000000;
    --heading-color: #3C3C3C;
    --paragraph-color: #555555;
    --no-active-color: #868686;
    --disable-color: #D9D9D9;

    --success-color: #43936C;
    --warning-color: #EB9525;
    --info-color: #03539E;
    --warning-color: #E33131;

    --link-color: #032172;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
}