a {
    text-decoration: none;
    color: var(--link-color);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 0 50px;
    padding: 0;
}

h1 {
    font-size: 40px;
    margin: 10px 0;
}

.col {
    flex: 1;
    margin: 0 20px;
}


.container {
    padding: 20px;
    background-color: var(--background-secondary-color);
    border-radius: 8px;
}

.container h2 {
    margin-bottom: 20px;
}

img {
    padding-top: 20px;
    width: 100%;
    height: auto;
}

hr {
    border: 0;
    height: 1px;
    background-color: var(--disable-color);
}

form {
    margin: 10px;
}

form p {
    margin: 10px 0 20px;
    font-size: 12px;
    text-align: center;
}

.input-container {
    position: relative;
    margin: 25px 0;
}

.input-container:nth-last-child() {
    margin-bottom: 0;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 12px;
    color: var(--no-active-color);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
}

input[type="text"]:focus + label,
input[type="text"]:not(:placeholder-shown) + label,
input[type="email"]:focus + label,
input[type="email"]:not(:placeholder-shown) + label,
input[type="password"]:focus + label,
input[type="password"]:not(:placeholder-shown) + label {
    top: -15px;
    font-size: 12px;
    color: #333;
}

button {
    width: 100%;
    background-color: var(--disable-color);
    color: var(--background-secondary-color);
    border: none;
    border-radius: 8px;
    padding: 10px 0;
}

button:hover {
    background-color: #4891B4;
}