/* CSS untuk tampilan default */
.ProductListView {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 5px;
}

th {
    background-color: var(--background-secondary-color);
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination p {
    color: var(--paragraph-color);
}

/* CSS untuk tampilan responsif */
@media (max-width: 768px) {
    table {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
    }

    th,
    td {
        display: block;
        padding: 10px;
        text-align: left;
        width: 100%;
    }

    th {
        display: none;
        background-color: var(--background-secondary-color);
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr {
        margin-bottom: 10px;
    }

    .ProductListView td:first-child {
        background-color: #c8e6c9;
        /* Ubah warna sesuai kebutuhan */
    }

    /* Menyembunyikan kolom yang tidak ingin ditampilkan */
    table td[data-label="Date"],
    table td[data-label="Amount"] {
        display: none;
    }

    td[data-label]:before {
        content: attr(data-label) ": ";
        margin-right: 5px;
    }
}