:root {
    --pay-required-color: #FF0000;
    --pending-color: #FFC107;
    --processing-color:#007BFF;
    --completed-color: #28A745;
    --cancelled-color: #6C757D;
}

.OrderFilterSorter {
    display: flex;
    justify-content: space-between;
}

.OrderFilter,
.OrderSorter,
.OrderManager {
    display: flex;
}

.OrderSorter i,
.OrderManager a,
select,
button {
    margin: 5px;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: var(--background-secondary-color);
    cursor: pointer;
    border: none;
}

.OrderListView {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    margin: 0 5px;
}

th {
    background-color: var(--background-secondary-color);
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td.action {
    text-align: center;
}

a {
    text-decoration: none;
}

.pagination {
    display: flex;
    justify-content: space-between;
}

.pagination p {
    color: var(--paragraph-color);
    align-items: center;
    display: flex;
}

.action {
    display: flex;
    justify-content: space-around;
    padding: 5px 10px;
    border: 1px solid var(--no-active-color);
    border-radius: 8px;
}

.status {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 5px 10px;
    border: 1px solid var(--cancelled-color);
    border-radius: 8px;
}

.status p {
    color: var(--cancelled-color);
}

/* Pay Required */
.pay-required {
    border: 1px solid var(--pay-required-color);
}

.pay-required p {
    color: var(--pay-required-color);
}

/* Pending */
.pending {
    border: 1px solid var(--pending-color);
}

.pending p {
    color: var(--pending-color);
}

/* Processing */
.processing {
    border: 1px solid var(--processing-color);
}

.processing p {
    color: var(--processing-color);
}

/* Completed */
.completed {
    border: 1px solid var(--completed-color);
}

.completed p {
    color: var(--completed-color);
}

.action i,
button {
    color: var(--no-active-color);
}
.action i:hover,
button:hover {
    color: var(--block-color);
}

button.selected {
    color: var(--block-color);
}


.action i {
    color: var(--no-active-color);
    padding: 0 5px;
}

.action i.warning {
    color: var(--warning-color);
}

.action i.danger {
    color: var(--danger-color);
}

@media (max-width: 768px) {

    .OrderSorter i,
    .OrderManager a {
        font-size: 12px;
        white-space: nowrap;
    }

    .OrderFilterSorter {
        flex-direction: column;
    }

    table {
        overflow-x: auto;
    }

    th,
    td {
        display: flex;
        width: 90%;
        padding: 8px;
        text-align: left;
        align-items: center;
    }

    th {
        display: none;
        background-color: var(--background-secondary-color);
        border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    td.image {
        width: 100px;
        grid-column: 1 / 2;
    }

    td.action {
        text-align: center;
        grid-column: 2 / 3;
    }

    td[data-label]:before {
        content: attr(data-label) ": ";
        margin-right: 5px;
    }

}

@media (max-width: 425px) {
    .OrderFilter i {
        display: none;
    }

    tr {
        display: block;
    }
}